.navbar {
  width: 100vw;
  height: 5rem;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  overflow: hidden;
}

.logo {
  font-weight: bold;
  font-size: 3rem;
}

.buttons {
  background-color: #4a95b0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.linkbtns {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Mainbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.TextInfo {
  width: 45vw;
  height: 30rem;
  padding: 10rem;
}

.mainphoto {
  border-radius: 500px;
}

.Mainname {
  font-weight: bold;
  font-size: 3rem;
  color: #4a95b0;
}

.butone {
  background-color: #4a95b0;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.buttwo {
  background-color: transparent;
  color: black;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 3px solid #4a95b0;
  cursor: pointer;
}

.mainblue {
  background-color: #4a95b0;
  height: 25rem;
  margin-top: 2rem;
  width: 100vw;
  padding: 3rem;
}

.heading {
  margin: 0px;
  padding: 0px;
}

.Myskils {
  font-weight: bold;
  color: white;
}

.Headingin {
  text-align: center;
}

.footer {
  background-color: black;
  color: white;
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 20rem;
  padding: 5rem;
}